# We must NEVER check-in a local.properties file!!
local.properties
facebook-android-sdk-3.0.2/facebook/bin/facebooksdk.jar
facebook-android-sdk-3.0.2/facebook/bin/jarlist.cache
google_play_services_lib/bin/jarlist.cache
cached-robolectric-classes.jar
facebook-android-sdk-3.0.2/facebook/bin
google_play_services_lib/bin
facebook-android-sdk-3.0.2/facebook/gen
libui2/bin
libui2/gen
libcore/bin/
google_play_services_lib/gen/
libcore/gen/
libui2/.settings/org.eclipse.jdt.core.prefs
org.eclipse.core.resources.prefs
facebook-android-sdk-3.23.0/facebook/build/generated
facebook-android-sdk-3.23.0/facebook/build/intermediates
libcoreStudio/bin
libcoreStudio/build/intermediates
libcoreStudio/build/generated
libcoreStudio/build/outputs
libcoreStudio/build/tmp
libcoreStudio/.gradle/2.2.1/taskArtifacts/fileHashes.bin
libcoreStudio/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
libcoreStudio/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
libcoreStudio/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
libcoreStudio/.gradle/2.2.1/taskArtifacts
libcore/build/generated
libcore/build/intermediates
libcore/build/outputs
libcore/build/tmp
libcore/.gradle/2.2.1/taskArtifacts/fileHashes.bin
libcore/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
libcore/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
libcore/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
libcore/.gradle/2.2.1/taskArtifacts
libcore/build/reports
libcore/build/test-results
libcore/libcore.iml
libcore/.idea/libraries
libcore/.gradle
