# We must NEVER check-in a local.properties file!!
local.properties
facebook-android-sdk-3.0.2/facebook/bin/facebooksdk.jar
facebook-android-sdk-3.0.2/facebook/bin/jarlist.cache
google_play_services_lib/bin/jarlist.cache
cached-robolectric-classes.jar
facebook-android-sdk-3.0.2/facebook/bin
google_play_services_lib/bin
facebook-android-sdk-3.0.2/facebook/gen
libui2/bin
libui2/gen
libcore/bin/
google_play_services_lib/gen/
libcore/gen/
